.weather-app-wrapper {
  max-width: 600px;
  margin: 120px auto;
  background-color: #f2f2f1;
  padding: 25px 25px 5px 25px;
  border-radius: 15px;
}
footer {
  color: #212529;
  text-align: center;
}
