.App {
  max-width: 600px;
  margin: 130px auto;
}

.App footer {
  font-size: 12px;
  font-weight: 500;
  margin: 10px 0;
  color: #605d6b;
  text-align: center;
}

a {
  color: #000000 !important; /* Ensure your custom color is applied */
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: #89858b !important; /* Ensure hover color is applied */
  text-decoration: none;
  cursor: pointer;
}

.Weather .unit {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.WeatherTemperature a {
  text-decoration: none;
}

.Weather {
  font-family: arial, sans-serif;
  padding: 16px;
  border-radius: 9px;
  color: #ffffff;
  background-color: #605d6b;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: 212529;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.col-6 {
  padding: 20px;
}
